@import url(./global.css);

/* ----------------Section Review---------------- */
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 195px;
    background-color: var(--light-background-color);
}

.review-informations{
    display: flex;
    flex-direction: column;
    width: 1044px;
    box-sizing: border-box;
    gap:10px;
}

.review-informations h3{    
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
}

.review-informations h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

.review-informations-text{
    width: 463px;
}

.review-informations-text p{
    font-size: 14px;
    line-height: 20px;
    color: var(--second-text-color);
}

.cards{
    display: flex;
    width: 1045px;
    gap: 30px;
    box-sizing: border-box;
}

.card-info{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    align-items: center;
    background-color: var(--light-background-color);
}

.cards-review{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    width: 298px;
    box-sizing: border-box;
    align-items: center;
}

.cards-review p{
    width: 159px;
    font-size: 14px;
    color: var(--second-text-color);
    text-align: center;
}

.cards-person{
    display: flex;
    align-items: center;
    gap: 15PX;
}

.cards-person-infos h3{
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
}

.cards-person-infos p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}

/* ----------------Section Team---------------- */
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
    padding: 100px 195px;
    background-color: var(--light-background-color);
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 195px;
    background-color: var(--light-background-color);
}

.team-informations{
    display: flex;
    flex-direction: column;
    width: 1044px;
    box-sizing: border-box;
    gap:10px;
}

.team-informations h3{    
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
}

.team-informations h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.team-informations-text{
    width: 463px;
}

.team-informations-text p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}

.team-cards{
    display: flex;
    gap: 30px;
}

.team-cards-infos{
    width: 238px;
    box-sizing: border-box;
    border-radius: 20px; 
    box-shadow: 0px 13px 19px rgba(0, 0, 0,0.07);
}

.team-cards-infos img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.team-cards-infos-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.team-cards-infos-personal h3{
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.team-cards-infos-personal p{
    color: var(--second-text-color);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.team-cards-infos-personal-icons{
    display: flex;
    gap: 20px;
}

.team-cards-infos-personal-icons img{
    transition: 0.4s;
    cursor: pointer;
}

.team-cards-infos-personal-icons img:hover{
    transform: translateY(-4px);
}

/*------------------Responsive------------------*/

@media (max-width: 500px){
/* ----------------Section Review---------------- */
    .review{
        padding: 30px;
        width: 84%;
        align-items: flex-start;
        gap: 5px;
    }
    .review-informations{
        width: 84%;
        gap: 5px;
    }
    .review-informations h2{
        font-size: 24px;
        line-height: 30px;
    }
    .review-informations p{
        font-size: 12px;
    }
/* ----------------Section Team---------------- */
}